.order {
  padding-top: 25px;
  margin-bottom: 150px;
  &__top {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__title {
    font-family: "PT Serif";
    font-size: 48px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__left-box {
    width: 66%;
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
  }
  &__data {
    margin-bottom: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px 25px;
  }
  &__label {
    width: 48%;
    span {
      display: inline-block;
      margin-bottom: 15px;
    }
  }
  &__input {
    padding: 3px 0 12px 0;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #7e7767;
    transition: all 0.3s ease-in-out;
    outline-style: none;
    &::placeholder {
      color: #7e7767;
      transition: all 0.3s ease-in-out;
    }
    &:hover,
    &:focus {
      border-color: #1a1a19;
      &::placeholder {
        color: #1a1a19;
      }
    }
  }
  &__way {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }
  &__way-label {
    width: 48%;
  }
  &__way-box {
    height: 100%;
    padding: 20px;
    background-color: #d8d3cc;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    ul {
      display: flex;
      gap: 12px;
    }
  }
  &__way-input:checked {
    & + .order__way-box {
      background-color: #1a1a19;
      border-color: #7e7767;
      color: #fff;
    }
  }
  &__way-title {
    margin-bottom: 12px;
  }
  &__way-text {
    color: #7e7767;
  }
  &__way-btn {
    margin-bottom: 60px;
    padding: 15px 30px;
    border-radius: 12px;
    border: 1px solid #1a1a19;
    background-color: #d8d3cc;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #1a1a19;
      color: #fff;
    }
  }
  &__right-box {
    width: 33%;
  }
  &__cart,
  &__total {
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 12px;
    background-color: #EAE8E0;
  }
  &__cart-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__img {
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  &__name {
    margin-bottom: 8px;
    font-weight: 500;
  }
  &__count {
    color: #7E7767;
  }
  &__price {
    margin-left: auto;
    font-weight: 500;
  }
  &__total-item {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }
  &__total-descr {
    margin-bottom: 30px;
  }
  &__total-bottom {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 500;
  }
  &__submit {
    padding: 15px 30px;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    border: none;
    background-color: #D8D3CC;
    font-weight: 500;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}
