<section class="princip">
    <div class="container">
        <h2 class="princip__title subtitle">Наши принципы</h2>
        <ul class="princip__list">
            <li class="princip__item">
                <h3>Качественные материалы</h3>
                <p>Наша керамика изготавливается из высококачественных материалов, чтобы обеспечить долговечность и прочность каждого изделия. Каждая деталь проходит тщательный процесс создания и отделки, чтобы достичь идеального внешнего вида.
                </p>
            </li>
            <li class="princip__item">
                <h3>Искусная работа</h3>
                <p>
                    Приобретая керамику ручной работы у нас, вы поддерживаете искусство и талантливых мастеров. Мы стремимся к тому, чтобы каждый клиент получил высокое качество продукции и полное удовлетворение от своей покупки.
                    </p>
            </li>
            <li class="princip__item">
                <h3>Функциональность</h3>
                <p>Мы гордимся тем, что наша керамика не только красива, но и функциональна. Вы можете использовать наши изделия в повседневной жизни или использовать их в качестве уникальных элементов декора для вашего дома или офиса.
                </p>
            </li>
        </ul>
    </div>
</section>