<section class="promo" id="promo">
    <div class="container">
        <div class="promo__wrap">
            <div class="promo__wrapper">
                <h1 class="promo__title title">
                    @title
                </h1>
                <p class="promo__descr">@descr</p>
                <span class="promo__address">@address</span>
                <div class="@class btn">
                    <a class="arrow-link" href="/catalog/">
                       <span class="dot"></span>
                       <span class="text">@btnName</span>
                    </a>
                </div>
            </div>
           
            <div class="promo__wrapper">
                <img src=@img alt="ceramic">
            </div>
        </div>
    </div>
</section>