.promo {
    width: 100vw;
    overflow-x: clip;
    position: relative;
    &__wrap {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    &__none {
        display: none;
    }
    &__wrapper {
        width: 50%;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__title {
        margin-bottom: 40px;
        span {
            font-size: 4.5vw;
            background-color: #1a1a19;
            border-radius: 5px;
            padding: 2px;
            mix-blend-mode: darken;
            color: $background;
        }
    }
    &__descr {
        display: none;
    }
    &__address {
        display: none;
    }
    &__catalog {
        display: flex;
        align-items: center;
        gap: 20px;
        svg {
            width: 58px;
            height: 58px;
            ellipse {
                fill: #1A1A19;
                transition: all .5s ease-in-out;
            }
            path {
                stroke: #E8E0D4;
                rotate: 0;
                transform-origin: center;
                transition: all .5s ease-in-out;
            }
            &:hover {
                ellipse {
                    fill: #E8E0D4;
                }
                path {
                    rotate: -45deg;
                    stroke: #1A1A19;
                }
            }
        }
    }
}

@media(max-width: 1280px) {
    .promo {
        &__title {
            font-size: 4vw;
            margin-bottom: 30px;
            span {
                font-size: 4vw;
            }
        }
        &__catalog {
            font-weight: 500;
            svg {
              scale: .8;
            }
        }
    }
}
@media(max-width: 991px) {
    .promo {
        &__title {
            font-size: 5vw;
        }
    }
}
@media(max-width:576px) {
    .promo {
        &__wrap {
            flex-direction: column;
            gap: 20px;
        }
        &__wrapper {
            width: 100%;
            &:first-child {
                order: 2;
            }
            &:last-child {
                order: 1;
            }
        }
        &__title {
            font-size: 13vw;
            margin-bottom: 5px;
            span {
                font-size: 13vw;
            }
        }
        &__catalog {
            gap: 10px;
        }
    }
}
