<div class="sorter">
    <div class="sorter__close">
        <div></div>
        <div></div>
    </div>
    <div class="sorter__wrapper">
        <p>Сортировать по:</p>
        <input class="sorter__input" type="checkbox" name="new">
        <label for="new">Новизне</label>
        <input class="sorter__input" type="checkbox" name="price">
        <label for="price">Возрастанию цены</label>
        <input class="sorter__input" type="checkbox" name="low-price">
        <label for="low-price">Убыванию цены</label>

        <p>Фильтры</p>
        <input class="sorter__input" type="checkbox" name="all">
        <label for="all">Все</label>
        <input class="sorter__input" type="checkbox" name="decor">
        <label for="decor">Декор</label>
        <input class="sorter__input" type="checkbox" name="plates">
        <label for="plates">Миски и салатники</label>
        <input class="sorter__input" type="checkbox" name="sets">
        <label for="sets">Наборы</label>
        <input class="sorter__input" type="checkbox" name="glases">
        <label for="glases">Стаканы</label>
        <input class="sorter__input" type="checkbox" name="plate">
        <label for="plate">Тарелки</label>
        <input class="sorter__input" type="checkbox" name="kettles">
        <label for="kettles">Чайники</label>
        <input class="sorter__input" type="checkbox" name="caps">
        <label for="caps">Чашки и кружки</label>

        <p>Цена</p>
        <div class="range-slider">
            <span class="rangeValues"></span>
            <input value="150" min="150" max="10000" step="1" type="range">
            <input value="10000" min="150" max="10000" step="1" type="range">
        </div>
    </div>
</div>