<li class="card">
    <a href="/product-page/">

        <div class="card__img">
            <img src="/img/card/@image.jpg" alt="@image">
        </div>
        <div class="card__description">
            <div class="card__wrapper">
                <p class="card__name">@name</p>
                <p class="card__type"><span>@type</span> <span>@descr</span></p>
            </div>
            <div class="card__wrapper card__wrapper--right">
                <div class="card__price">@price</div>
                <span class="card__button">Купить</span>
            </div>
            
        </div>
    </a>
</li>