<header class="header">
    <div class="container">
        <div class="header__wrapper">
        </div>
        <nav class="header__nav">
            <a href="/" class="header__logo"><img src="/img/logo.png" alt="logo"></a>
            <div class="header__head">
                <a href="/"><img src="/img/logo.png" alt="logo"></a>
                <div class="header__close">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <ul class="header__menu">
                <li class="header__item"><a href="/about/">О нас</a></li>
                <li class="header__item"><a href="/catalog/">Каталог</a></li>
                <li class="header__item"><a href="/#events">Мероприятия</a></li>
            </ul>

            <div class="header__block">
                <button class="header__btn">
                    Поиск
                </button>
                <a class="header__cart" href="/cart/">Корзина</a>
            </div>
            <ul class="header__description">
                <li><a href="/delivery/">Доставка и оплата</a></li>
                <li><a href="/agreement/">Пользовательское <br> соглашение</a></li>
            </ul>
            <ul class="header__social">
                <li>
                    Email<a  href="mailto:aura.ceramics@mail.ru">aura.ceramics@mail.ru</a></li>
                <li>
                    Vkontakte<a href="vk.ru">@auraceramics</a></li>
                <li>
                    Telegram<a href="vk.ru">@auraceramics_tg</a></li>
            </ul>
            <button class="header__burger">
                Mеню
            </button>
        </nav>
    </div>
</header>