<footer class="footer">
  <div class="container">
   <div class="footer__wrapper">
    <div class="footer__inner">
      <h2 class="subtitle footer__title">Напишите нам</h2>
      <div class="footer__mail">
        <a class="arrow-link arrow-link--light" href="mailto:ceramics@mail.ru">
          <span class="dot"></span>
          <span class="text">Пишите на почту</span>
        </a>
      </div>
      <div class="footer__links">
        <a href="#">Доставка и оплата</a>
        <a href="#">Пользовательское соглашение</a>
      </div>
    </div>
    <div class="footer__inner">
      <div class="footer__social">Email</div>
      <a href="mailto:ceramics@mail.ru" class="footer__soc">aura.ceramics@mail.ru</a>
      <div class="footer__social">Vkontakte</div>
      <a href="#" class="footer__soc">@auraceramics</a>
      <div class="footer__social">Telegram</div>
      <a href="#" class="footer__soc">@auraceramics_tg</a>
      <div class="footer__links">
        <a href="#">Доставка и оплата</a>
        <a href="#">Пользовательское соглашение</a>
      </div>
    </div>
    
   </div>
  </div>
</footer>
