<section class="technics">
    <div class="container">
        <div class="technics__wrapper">
            <div class="technics__images">
                <img src=@img1 alt="first" class="first">
                <img src=@img2 alt="second" class="second">
            </div>
            <div class="technics__description">
                <h2 class="subtitle technics__title">@title</h2>
                <p>@descr</p>
                <div class="technics__button">
                    <a class="arrow-link" href="/about/">
                        <span class="dot"></span>
                        <span class="text">Про нас</span>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</section>