<section class="technics">
    <div class="container">
        <div class="technics__wrapper">
            <div class="technics__images">
                <img src=@img1 alt="first" class="first">
                <img src=@img2 alt="second" class="second">
            </div>
            <div class="technics__description">
                <h2 class="subtitle technics__title">@title</h2>
                <p>@descr</p>
                <div class="technics__button">
                    <a href="/about/">
                        <svg  fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="50%" cy="50%" rx="50%" ry="50%" fill="#1A1A19"/><path d="M52.5 28.5c0 12.693-10.511 23-23.5 23S5.5 41.193 5.5 28.5s10.511-23 23.5-23 23.5 10.307 23.5 23z" stroke="#E8E0D4"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.358 27.909a.88.88 0 01.261-.624.898.898 0 01.631-.258h21.046l-5.616-5.545a.877.877 0 010-1.248.9.9 0 011.264 0l7.138 7.05a.881.881 0 01.262.625.871.871 0 01-.262.623l-7.139 7.05a.9.9 0 01-1.263 0 .877.877 0 010-1.247l5.616-5.545H17.25a.898.898 0 01-.63-.258.875.875 0 01-.262-.623z" fill="#E8E0D4"/></svg>
                    </a> Про нас
                </div>
            </div>
        </div>
    </div>
</section>