<section class="popular">
    <div class="container">
        <h2 class="subtitle">Популярное</h2>
        <div class="popular__wrapper">
            <a href="#" class="popular__item">
                <div class="popular__description">
                    <div class="popular__wrap">
                        <p class="popular__name">Набор посуды</p>
                        <p class="popular__price">1 900 ₽</p>
                    </div>
                    <button class="popular__button">Купить</button>
                </div>
            </a>
            <a href="#" class="popular__item">
                <div class="popular__description">
                    <div class="popular__wrap">
                        <p class="popular__name">Набор посуды</p>
                        <p class="popular__price">1 900 ₽</p>
                    </div>
                    <button class="popular__button">Купить</button>
                </div>
            </a>
            <a href="/catalog/" class="popular__item">

                <div class="arrow-link arrow-link--light">
                    <span class="dot"></span>
                    <span class="text">Смотреть все</span>
                </div>
                
            </a>
            <a href="#" class="popular__item">
                <div class="popular__description">
                    <div class="popular__wrap">
                        <p class="popular__name">Набор посуды</p>
                        <p class="popular__price">1 900 ₽</p>
                    </div>
                    <button class="popular__button">Купить</button>
                </div>
            </a>
        </div>
    </div>
</section>